@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body {
	overflow-x: hidden;
}
.navbar .container-fluid {
	padding: 0 1.5rem 0 1.5rem;
}
.navbar .container-fluid span a button {
	padding: 0.5rem 1.5rem 0.5rem 1.5rem;
	font-weight: 600;
	background-color: #fe6d73;
	border: none;
}
.row .col .square-lnd {
	width: 100%;
	height: 50vh;
	background-color: #c7f9cc;
	padding: 5.5rem 0 3rem 5rem;
}
.row .col .square-lnd .max-width-p {
	max-width: 50%;
}
.row .col .square-lnd .button-lnd a button {
	padding: 0.5rem 3rem 0.5rem 3rem;
	font-weight: 600;
	background-color: rgb(63, 213, 196);
	border: none;
}
.row .col .square-payroll {
	width: 100%;
	height: 50vh;
	background-color: #a3b18a;
	padding: 3rem 0 3rem 5rem;
}
.row .col .square-payroll .max-width-p {
	max-width: 50%;
}
.row .col .square-payroll .button-payroll a button {
	padding: 0.5rem 3rem 0.5rem 3rem;
	font-weight: 600;
	background-color: #516233;
	border: none;
}

@media screen and (max-width: 480px) {
	.navbar .container-fluid span a button {
		width: 100%;
		margin-top: 0.5rem;
		padding: 0.5rem 2rem 0.5rem 2rem;
	}
	.row .col .square-lnd {
		margin-top: 5rem;
		padding: 7rem 2rem 2rem 2rem;
	}
	.row .col .square-lnd .max-width-p p {
		display: none;
	}
	.row .col .square-lnd .button-lnd {
		margin-top: 2rem;
	}
	.row .col .square-payroll {
		padding: 4rem 2rem 2rem 2rem;
		height: 40vh;
	}
	.row .col .square-payroll .max-width-p p {
		display: none;
	}
	.row .col .square-payroll .button-payroll {
		margin-top: 2rem;
	}
}
