@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
	margin: 0;
	padding: 0.2rem 0.2rem 0.1rem 0.2rem;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body {
	overflow-x: hidden;
}
.container .row .col .input-menolak-dokumen {
	margin-top: 2rem;
}
.container .row .col .input-menolak-dokumen form {
	display: flex;
	flex-direction: column;
}
.container .row .col .input-menolak-dokumen form label {
	margin-bottom: 1rem;
}
.container .row .col .input-menolak-dokumen form input {
	border-radius: 10px;
	margin-bottom: 0.5rem;
	padding: 1rem 7rem 7rem 1rem;
}
.container .row .col .input-menolak-dokumen form p {
	color: #db3333;
}
.container .row .col .input-menolak-dokumen a button {
	width: 99.5%;
	margin-top: 2rem;
}
