@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
	font-family: 'Poppins', sans-serif;
}

.row .col .detail-data h5 {
	margin-bottom: 1rem;
}
.row .col .detail-data form input {
	padding: 1rem 2rem 1rem 2rem;
	margin-bottom: 1rem;
	background-color: #e7ecef;
	border: none;
	color: #001427;
	font-weight: 500;
	border-radius: 10px;
}

.row .col .button-back {
	margin-top: 2rem;
}

.row .col .button-back button {
	padding: 0.5rem 2rem 0.5rem 2rem;
	border: none;
	border-radius: 5px;
	background-color: #b23a48;
	font-weight: 600;
	margin-right: 2rem;
}
.row .col .button-back button a {
	color: #e7ecef;
	text-decoration: none;
}

.row .col .button-submit button {
	padding: 0.5rem 2rem 0.5rem 2rem;
	border: none;
	border-radius: 5px;
	background-color: #02c39a;
	color: #e7ecef;
	font-weight: 600;
	margin-bottom: 2rem;
	margin-top: 2rem;
}
