@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
	margin: 0;
	padding: 0.2rem 0.2rem 0.1rem 0.2rem;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body {
	overflow-x: hidden;
}
.container .row .col .form-manual {
	margin-top: 2rem;
}
.container .row .col .form-manual form {
	display: flex;
	flex-direction: column;
}
.container .row .col .form-manual form label {
	margin-bottom: 1rem;
}
.container .row .col .form-manual form input {
	margin-bottom: 1.5rem;
	padding: 0.5rem 1rem 0.5rem 1rem;
	border-radius: 10px;
}
.container .row .col .form-manual form button a {
	/* background-color: #d0ab26; */
	text-decoration: none;
	/* width: 100%; */
	color: white;
	font-weight: 600;
	/* padding: 0.5rem 0 0.5rem 0; */
}
.container .row .col .form-manual a .btn-back {
	width: 99.5%;
	margin-top: 1.5rem;
	padding: 0.5rem 0 0.5rem 0;
	background-color: #db3333;
	color: white;
	border-radius: 10px;
	border: none;
	font-weight: 600;
}
